@model IEnumerable<VerifyCRM.Models.app_package_table>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.relation_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_package.package_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_table.tab_schema)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.relation_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_package.package_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_table.tab_schema)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
