@model IEnumerable<VerifyCRM.Models.app_table>

@{
    ViewBag.Title = "Show Tables";
}

<h2>Show Tables</h2>

<p>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("RunHistory","Monitoring")">Home</a></li>
        <li class="active">List Tables</li>
    </ol>
</p>
<table class="table table-striped" id="datatable">
    <thead>
        <tr>
            <th>Type</th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.updated_on)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.table_type</td>
                <td>
                    <a href="@Url.Action("TableDetails", new { id = item.id })">
                        @Html.DisplayFor(modelItem => item.fulltablename)
                    </a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.updated_on)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditTable", new { id = item.id })

                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/datatables.js")"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable({
                "pageLength": 50
            });
        });
    </script>
}