@model VerifyCRM.Models.app_table

@{
    ViewBag.Title = "Table Details";
}

<h3>Table Details</h3>
<ol class="breadcrumb">
    <li><a href="@Url.Action("RunHistory","Monitoring")">Home</a></li>
    <li><a href="@Url.Action("ShowTables")">List Tables</a></li>
    <li class="active">@Model.fulltablename</li>
</ol>

<div>
    <small class="text-muted "> @Html.DisplayFor(model => model.description)</small>
    <hr />
   
    
</div>


<table class="table">
    <thead>
        <tr>
            <th>col name</th>
            <th>col type</th>
            
            <th>nullable</th>
            <th>description</th>                    
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var col in Model.app_column)
        {
            <tr>
                <td>@col.col_name</td>
                <td>@col.col_type @(col.col_length.HasValue?"["+col.col_length+"]":"")</td>
                
                <td>@col.is_nullable</td>
                <td>@col.description</td>

                <td><a href="@Url.Action("EditColumn", new { id=col.id })"> <span class="fa fa-edit"></span></a></td>
            </tr>
            
        }
    </tbody>


</table>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
