@model VerifyCRM.Models.app_crm_field

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>app_crm_field</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.crm_entity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_entity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.batch_integration_field)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch_integration_field)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.crm_field)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.crm_field)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.db2_field)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.db2_field)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.web_service_field)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.web_service_field)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_used_on_crm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_used_on_crm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tags)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
