@model IEnumerable<VerifyCRM.Models.app_package>

@{
    ViewBag.Title = "Packages";
}

<h2>Packages</h2>
<ol class="breadcrumb">
    <li><a href="@Url.Action("RunHistory","Monitoring")">Home</a></li>
        <li class="active">Packages</li>
</ol>

<table class="table">
    <tr> 
        <th>
            @Html.DisplayNameFor(model => model.level_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.package_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.package_type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="@(item.is_active?"":"grey")">
        <td>
            @Html.DisplayFor(modelItem => item.level_id)
        </td>
        <td>
            <a href="@Url.Action("PackageRun", "Monitoring", new { id = item.id })">
                @Html.DisplayFor(modelItem => item.package_name)
            </a>
            <br /><small class="text-muted">@item.package_description</small>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.package_type)
        </td>
        <td>
            <a href="@Url.Action("EditPackage", "Package", new  { id = item.id })">Edit</a>
            
        </td>
    </tr>
}

</table>
