@model IEnumerable<VerifyCRM.Models.SSISErrorTable>

@{
    ViewBag.Title = "Package Error";
    var package = Model.FirstOrDefault();
    
    
    
    var rundate = ViewBag.DateRun;
}

<h2>Package Error(s)</h2>

<ol class="breadcrumb">
    <li><a href="@Url.Action("RunHistory","Monitoring")">Home</a></li>
    <li><a href="@Url.Action("DateRun","Monitoring", new { id = rundate  })">Date Run</a></li>
    <li class="active">Errors</li>
</ol>


<p>
    <h3>
        @if(package != null)
        {
            @package.levelid @package.packageName @:&nbsp; @Model.Count() errors
        }
        
    </h3>
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.primaryKeyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primaryKeyValue)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.errordesc)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.createdDate)
        </th>
        
        
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.primaryKeyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primaryKeyValue)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.errordesc)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.createdDate)
        </td>
        
        
        
    </tr>
}

</table>
