@model IEnumerable<VerifyCRM.Models.RunHistoryView>
@using utils = VerifyCRM.Helpers.Utils
@{
    ViewBag.Title = "Run History";

    var runDates = ViewBag.RunDates;
    var records = ViewBag.Records;
    var duration = ViewBag.Duration;
    
    
    
}

<h2>Run History</h2>


    @*<div id="container"></div>*@
<div id="container2"></div>

<table class="table">
    <tr>
        <th>
            Rundate
        </th>
        <th>
            @Html.DisplayNameFor(model => model.started)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.completed)
        </th>

        <th>Duration</th>
        <th>
            @Html.DisplayNameFor(model => model.num_errors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numRows)
        </th>
        
    </tr>

@foreach (var item in Model.OrderByDescending(x=>x.rundate)) {
    <tr>
        <td>
            <a href="@Url.Action("DateRun", new  { id = utils.ConvertDateToInt(item.rundate) })">
                @item.rundate.ToString("ddd dd-MMM-yy")
            </a>
        </td>
        <td>
            @item.started.Value.ToString("HH:mm:ss")
        </td>
        <td>
            @item.completed.Value.ToString("HH:mm:ss")
        </td>
        <td>
            
            <span class="text-@(item.duration_seconds < 7200 ? "info" : (item.duration_seconds > 14400? "danger" : ""))">
                @Html.DisplayFor(modelItem => item.DurationStr)
            </span>
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.num_errors)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.numRows)
        </td>
        
    </tr>
}

</table>



<table id="datatable" style="display:none">
    <thead>
        <tr>
            <th></th>
            <td>runtime (mins)</td>
            <td>rows (million)</td>
            <td>errors (unit)</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x=>x.rundate > DateTime.Now.AddDays(-31) ))
        {
            <tr>
                <td>@item.rundate.ToString("ddMMMyy")</td>
                <td>@(item.duration_seconds/60)</td>
                <td>@(item.numRows/1000000)</td>
                <td>@item.num_errors</td>

            </tr>
            
        }
        
    </tbody>

</table>

@section scripts {
    <script>

        $(function () {
            $('#container').highcharts({
                data: {
                    table: 'datatable'
                },
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Daily Runtime'
                },
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Units'
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            this.point.y + ' ' + this.point.name.toLowerCase();
                    }
                }
            });
        });


        $(function () {
            $('#container2').highcharts({
                title: {
                    text: 'Run History'
                },
                xAxis: {
                    categories: [@Html.Raw(runDates)]
                },
                labels: {
                    items: [{
                        html: 'Total Run Time',
                        style: {
                            left: '50px',
                            top: '18px',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                        }
                    }]
                },
                series: [{
                    type: 'column',
                    name: 'Num Records (millions)',
                    data: [@Html.Raw(records)]
                }, {
                    type: 'spline',
                    name: 'Time Hours',
                    data: [@Html.Raw(duration)] ,
                    marker: {
                        lineWidth: 2,
                        lineColor: Highcharts.getOptions().colors[5],
                        fillColor: 'white'
                    }
                }]
            });
        });

    </script>

}
